* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
    
/* Global Style */
    
ul {
  list-style: none;
}

li {
  list-style: none;
}
    
a {
  text-decoration: none;
  transition: 300ms;
}
    
a:hover {
  transition: 500ms;
}
    
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #10c9c3;;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00837f;
}
    
/* Header */  
.header {
  height: 100px;
}
    
.header-list {
  display: flex;
  align-items: center;
  padding-top: 35px;
}
    
.header-list__logo {
  margin-right: auto;
}
    
.header-list__item {
  margin-right: 30px;
}
    
.header-list__item:last-child {
  margin-right: 0;
}
    
.header-list__link {
  color: #000;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  transition: 300ms;
}
    
.header-list__link:hover {
  color: #10c9c3;
  transition: 300ms;
}

/* Contact */

.contact {
  height: 500px;
  background-color: #F5F5F5;
}

.contact__block {
  width: 369px;
  height: 306px;  
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.contact-info {
  width: 369px;
  padding-top: 50px;
}

.contact-info__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 0.3px;
  color: #171717;
}

.contact-info__subtitle {
  font-family: NunitoSans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08px;
  color: #787878;
}

.contact-info__link {
  font-family: NunitoSans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08px;
  color: #787878;
}

.contact-info__link:hover {
  color: #141414;;
}

.bold {
  color: #000;
  font-weight: bold;
}

.address,
.phone, 
.email,
.fax {
  line-height: 36px;
}

.address {
  margin-top: 20px;
}

/* Contact Form */

.contact-form {
  width: 671px;
  height: 410px;
  padding-top: 50px;
}

.contact-form__input {
  width: 320px;
  height: 48px; 
  border: 0;
  padding-left: 15px;
  outline: none;
}

.email__input {
  margin-left: auto;
}

.title__input {
  width: 670px;
  height: 48px;
  margin-top: 25px;
}

.comment__input {
  width: 670px;
  height: 170px;
  margin-top: 25px;
  resize: none;
  font-family: NunitoSans, sans-serif;
  padding-top: 10px;
}

.login__block {
  display: flex;
}

#editor {
  font-family: NunitoSans, sans-serif;
}

.contact__button {
  font-family: Montserrat, sans-serif;
  cursor: pointer;
  width: 180px;
  height: 54px;
  border: 0;
  background-color: #10c9c3;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  margin: 0 auto;
  transition: 500ms;
  margin-top: 30px;
  letter-spacing: 1.2px;
}

/* Map */
  
.map {
  background-color: #F5F5F5;
  padding-top: 70px;
  padding-bottom: 100px;
}

#map {
  width: 1170px;
  height: 470px;
  margin: 0 auto;
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* Footer */
  
.footer {
  height: 284px;
  background-color: #141414;
}
    
.footer-information {
  display: flex;
  align-items: center;
  padding-top: 95px;
}
    
.footer-info {
  width: 225px;
  height: 84px;
  margin-right: auto;
}
    
.footer-info__title {
  font-family: Montserrat, sans-serif;   
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.18px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
    
.footer-info__subtitle {
  font-family: NunitoSans, sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.075px;
  color: #BCBCBC;
}
    
.footer-contacts {
  width: 153px;
  height: 95px;
  margin-right: 150px;
}
     
.footer-contacts__link {
  font-family: NunitoSans, sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.075px;
  color: #BCBCBC;
}
    
.footer-contacts__link:hover {
  color: #ffffff;
}
    
.footer-list__link {
  font-family: NunitoSans, sans-serif;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.075px;
  color: #BCBCBC;
}
    
.footer-list__link:hover {
  color: #ffffff;
}
    
.footer__first-col {
  width: 153px;
}
    
.footer__second-col {
  width: 165px;
}
    
.footer__third-col {
  width: 68px;
}
    
    